# https://clangd.llvm.org/config
Completion:
    AllScopes: Yes
    ArgumentLists: None
    HeaderInsertion: Never
Diagnostics:
    UnusedIncludes: None
InlayHints:
    Designators: No
    Enabled: Yes
    ParameterNames: No
    DeducedTypes: No
